@font-face {
  font-family: 'flip-icons';
  src: url('../font/flip-icons.eot?12571678');
  src: url('../font/flip-icons.eot?12571678#iefix') format('embedded-opentype'),
       url('../font/flip-icons.woff?12571678') format('woff'),
       url('../font/flip-icons.ttf?12571678') format('truetype'),
       url('../font/flip-icons.svg?12571678#flip-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "flip-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
}
 
.icon-fire:before { content: '\e800'; } /* '' */
.icon-female:before { content: '\e801'; } /* '' */
.icon-left:before { content: '\e802'; } /* '' */
.icon-right:before { content: '\e803'; } /* '' */
.icon-refresh:before { content: '\e804'; } /* '' */
.icon-flip-y:before { content: '\e805'; } /* '' */
.icon-flip-x:before { content: '\e806'; } /* '' */
.icon-male:before { content: '\e807'; } /* '' */
.icon-arrow-down:before { content: '\e808'; } /* '' */
.icon-key:before { content: '\e809'; } /* '' */
.icon-space-ship:before { content: '\e80a'; } /* '' */
.icon-arrow-left:before { content: '\e80b'; } /* '' */
.icon-arrow-right:before { content: '\e80c'; } /* '' */
.icon-arrow-up:before { content: '\e80d'; } /* '' */