
// Flip - A Game About Perspective
// ==============================
// Author:     Evan Henley
// Author URI: henleyedition.com

$tile-size:      50px;
$character-size: 16px;

$dark-color: #343d34;
$background-color: lighten($dark-color, 20%); // #4a527d
$light-color: lighten($dark-color, 70%);      // #dcdeea

// Keyframes

@keyframes open-flip {
    0%   { transform: rotateY(-360deg); }
    100% { transform: rotateY(0deg); }
}
@keyframes open-blur {
    0%   { filter: blur(0); }
    100% { filter: blur(1px); }
}
@keyframes open-colors {
    50% { color: $light-color; }
}
@keyframes jump {
    50% { font-size: 1.6 * ($character-size + 5px); }
}
@keyframes jump-again {
    50% { font-size: 1.6 * ($character-size + 5px); }
}

// The stuff

body {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    background: $background-color;
    color: $light-color;
    perspective: 1000px;
}

.header {
    perspective: 400px;
}

#title {
    transition: transform 0.5s;
    transform-origin: center center;
    &.spin {
        transform: rotateY(360deg) translateZ(1px);
    }
}

.title-flip {
    display: inline-block;
    transform: rotateY(180deg);
    color: $dark-color;
}

#container {
    position: relative;
    margin: 80px auto;
    max-width: 500px;
    text-align: center;
}

// wraps #game-board and #player
#game-board-wrapper {
    position: relative;
    display: inline-block;
    transition: transform 0.5s;
    cursor: default;
    perspective: 600px;
    &.unfold {
        transform: translate3d(-50%, 0, 0);
    }
}

// wraps #game-board-front and #game-board-back
#game-board {
    position: relative;
    height: 100%;
    width: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    perspective: 600px;
    animation: open-flip 1.5s;
}

#game-board-front,
#game-board-back {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    padding: 1px;
    transition: filter 0.5s,
                background 0.5s,
                border-color 0.5s,
                color 0.5s;
    overflow: hidden;
    .unfold &,
    .unfold .flipped & {
        filter: none;
        opacity: 1;
    }
}

#game-board-front {
    background: $light-color;
    color: $dark-color;
    border: 2px solid $dark-color;
    opacity: 0.91;
    filter: none;
    transition: transform 0.5s,
                opacity 0.5s;
    transform-origin: left;
    transform: translateZ(1px);
    .invert-x & {
        transform-origin: right;
    }
    .flipped & {
        opacity: 0.09;
        filter: blur(1px);
    }
    .unfold .flipped & {
        transform: rotateY(180deg) translateZ(1px);
    }
    .unfold.invert-x .flipped & {
        transform: rotateY(-180deg) translateZ(1px);
    }

}
#game-board-back {
    z-index: -1;
    background: $dark-color;
    color: $light-color;
    border: 2px solid $light-color;
    filter: blur(1px);
    transition: transform 0.5s;
    transform-origin: right;
    animation: open-blur 2s;
    .invert-x & {
        transform-origin: left;
    }
    .flipped & {
        filter: none;
    }
    .unfold #game-board:not(.flipped) & {
        transform: rotateY(-180deg);
    }
    .unfold.invert-x #game-board:not(.flipped) & {
        transform: rotateY(180deg);
    }
}

.tile {
    float: left;
    width: $tile-size + 2px;
    height: $tile-size + 2px;
    font-size: $character-size;
    box-sizing: border-box;
    margin: -1px;
    text-align: center;
    // get rid of highlighting
    user-select: none;
    -webkit-touch-callout: none;
    &:before {
        line-height: $tile-size;
    }
}

#player {
    z-index: 2;
    position: absolute;
    top: 0; left: 0;
    margin: 2px 0 0 2px;
    width: $tile-size;
    height: $tile-size;
    transition: transform 0.1s,
                color 0.5s;
    color: $dark-color;
    font-size: $character-size + 5px;
    transform: translateZ(2px);
    animation: open-colors 1.5s;
    &.flip {
        color: $light-color;
        &:before {
            animation: jump 0.5s;
        }
    }
    &.unflip:before {
        animation: jump-again 0.5s;
    }
}


/* =========================
   Tile Classes
   ========================= */

// walls
#game-board-front {
    .wall-right {
        border-right: 2px solid $dark-color;
    }
    .wall-bottom {
        border-bottom: 2px solid $dark-color;
    }
}
#game-board-back {
    .wall-right {
        border-right: 2px solid $light-color;
    }
    .wall-bottom {
        border-bottom: 2px solid $light-color;
    }
}

.icon-key {
    transition: color 0.5s;
    .hasKey & {
        color: transparent;
    }
}

.icon-fire {
    transition: transform 0.5s;
    .flipped & {
        transform: rotateX(-180deg);
    }
}

/* =========================
   Menu Classes
   ========================= */


.navigation {
    position: relative;
    text-align: center;
    margin: 20px 0;
}

.nav-item {
    padding: 8px;
    color: $light-color;
    background: $background-color;
    &:hover {
        cursor: pointer;
    }
}

