
// Flip - A Game About Perspective
// ==============================
// Author:     Evan Henley
// Author URI: henleyedition.com

// variables
$tile-size:      25px;
$character-size: 15px;

$blue: #369;

$dark-color: #24283d;
$background-color: lighten($dark-color, 20%); // #4a527d
$light-color: lighten($dark-color, 70%);      // #dcdeea

body {
    background: $background-color;
    color: $light-color;
}

.container {
    position: relative;
    margin: 40px auto;
    width: 500px;
    text-align: center;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    cursor: default;
    perspective: 1200px;
}

#game-board, #game-board * {
    box-sizing: content-box;
}

#game-board {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    background: $light-color;
    color: $dark-color;
    border: 2px solid $dark-color;
    transition: transform 0.4s, background 0.4s, border-color 0.4s, color 0.4s;
    font-weight: bold;
}

.tile,
.button {
    // get rid of highlighting
    user-select: none;
    -webkit-touch-callout: none;
}

.tile {
    width: $tile-size;
    height: $tile-size;
    float: left;
    line-height: $tile-size;
    font-size: $character-size;
    transition: transform 0.1s;
}

#player {
    float: none;
    position: absolute;
    transition: transform 0.1s, color 0.4s;
    color: $dark-color;
    &.flip {
        color: $light-color;
    }
}

.wall-top    { border-top: 2px solid $dark-color; }
.wall-right  { border-right: 2px solid $dark-color; }
.wall-bottom { border-bottom: 2px solid $dark-color; }
.wall-left   { border-left: 2px solid $dark-color; }

.button {
    display: inline-block;
    padding: 4px 10px;
    color: $light-color;
    border: 2px solid $light-color;
    transition: transform 0.4s;
    &:hover { cursor: pointer; }
}

.win {
    // translateZ prevents right half from being unclickable in webkit
    transform: rotateY(360deg) translateZ(1px);
}




